@model Cliente

@{
    ViewData["Title"] = "Excluir";
}

<h1>Excluir</h1>

<h3>Você está certo disso?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade.Estado.Sigla)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade.Estado.Sigla)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Cpf" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar a Listagem</a>
    </form>
</div>
