@model ClientesListarViewModel

@{
    ViewData["Title"] = "Listagem de Clientes";
}

<h1>Listagem de Clientes</h1>

<p>
    <a asp-action="Create">Novo Cliente</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>
                @Html.Label("Nome")
            </th>
            <th>
                @Html.Label("CPF")
            </th>
            <th>
                @Html.Label("Data Nasc")
            </th>
            <th>
                @Html.Label("Estado")
            </th>
            <th>
                @Html.Label("Cidade")
            </th>
            <th>
                @Html.Label("Sexo")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Clientes)
        {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Cpf" class="btn btn-success">Editar</a>
                    @*<a asp-action="Details" asp-route-id="@item.Cpf">Details</a> |*@
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Cpf" class="btn btn-danger">Excluir</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cpf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNascimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade.Estado.Sigla)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sexo)
                </td>
            </tr>
        }
    </tbody>
</table>
